---
layout: default
---
<div style="height: 70vh; background-color: #dedede; width: 100%">
	<section>
		<h1 class="white tc m-auto pv6-ns pv4" style="width: 100%">Hi, I'm Matteo,<br> I design and develop custom<p class="f2 typer ma0"> websites, web applications,</p><p class="typer2 f1 ma0 m-auto">landing pages.</p></h1>
	</section>
</div>
<div style="height: 70vh; width: 100%; background-color: #01FF70" class="pa4">

	<h2 class="ma0 pv4 section-header">My Expertise</h2>
	<div class="exp-content m-auto">
		<div class="fl w-third-ns pa2">
		<div class="bg-white pa2 box">
			<h2 class="exp-header">Ideas</h2>
			<p>I collaborate with clients and peers to nurture and transform ideas into well thought out 	design specs. After all, that's where the majority of amazing user experiences start.</p>
		</div>
		</div>
		<div class="fl w-third-ns pa2">
		<div class="bg-white pa2 box">
			<h2 class="exp-header">Development</h2>
			<p>I love coding. I can help developing bespoke websites starting from both scratch or a 	pre-built design. I enjoy back-end and front-end development equally</p>
		</div>
		</div>
		<div class="fl w-third-ns pa2">
		<div class="bg-white pa2 box">
			<h2 class="exp-header">Branding</h2>
			<p>I like working with designers to create unique products that stand-out from the mass!</p>
		</div>
		</div>
		
	</div>
</div>

<section id="section" style="height: 70vh;">
	<h2>My Projects</h2>
	{% for post in site.posts %}
		{% unless post.next %}
			<h3>{{ post.date | date: '%Y' }} &#172;</h3>
		{% else %}
			{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
			{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
			{% if year != nyear %}
				<h3>{{ post.date | date: '%Y' }} &#172;</h3>
			{% endif %}
		{% endunless %}

		<ul>
			<li>
				<div class="post-date">
					<span>{{ post.date | date: "%b %d" }}</span>
				</div>
				<div class="title">
					<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</div>
			</li>
		</ul>

	{% endfor %}
</section>
<div class="footer pa3 ma0">
<a href="https://github.com/mmorandini" target="_blank"><img src="https://assets-cdn.github.com/favicon.ico" class="icon"></a>
<a href="https://twitter.com/emmeMorandini" target="_blank"><img src="https://image.flaticon.com/icons/png/128/10/10033.png" class="icon"></a>
<a href="mailto:emmemorandini@gmail.com?Subject=Hello%20again" target="_top"><img class="icon" src="https://static.wixstatic.com/media/a0fe50_11273ff46f8d4ac19597b0dadc86e9ba~mv2.jpg"></a>
  <span class="block">&copy; {{ site.time | date: '%Y' }} {{ site.author_name }}</span>
</div>


