<div class="footer pa3 ma0">
<a href="https://github.com/mmorandini" target="_blank"><img src="https://assets-cdn.github.com/favicon.ico" class="icon dim link"></a>
<a href="https://twitter.com/emmeMorandini" target="_blank"><img src="https://image.flaticon.com/icons/png/128/10/10033.png" class="icon dim link"></a>
<a href="mailto:emmemorandini@gmail.com?Subject=Hello%20again" target="_top"><img class="icon dim link" src="https://static.wixstatic.com/media/a0fe50_11273ff46f8d4ac19597b0dadc86e9ba~mv2.jpg"></a>
  <span class="block">&copy; {{ site.time | date: '%Y' }} {{ site.author_name }}</span>
</div>