<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About the Author' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Back to Home' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl }}">
		<div class="ciao">
			
		</div>
	</a>
	<span class="logo-prompt">{{ prompt }}</span>
  <h1 class="lobster f1"><span class="lime">M</span>atteo <span class="lime">M</span>orandini</h1>
  <p class="mt0">web_developer | dj | good_cook</p>

</aside>
