.ciao{
	width: 120px;
	height: 120px;
	margin: 0 auto;
	border: 5px solid #ededed;
	background-image: url(/assets/images/profilo.png);
	background-size: cover;
	background-position: center;
	border-radius: 90px;
	&:hover{
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out; 
	transition: opacity 1s ease-in-out;
	border: 5px solid #01FF70;
	background-image: url(/assets/images/profilo-v.png);
	}
}

p.typer{
	color: #dedede;
  	margin: 10px 0 10px 10px;
  	white-space: nowrap;
  	overflow: hidden;
  	width: 100%;
  	animation: type 4s steps(60, end);
  	line-height: 1.1em;
  	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

p.typer2{
	color: #dedede;
	margin: 10px 0 10px 10px;
  	white-space: nowrap;
  	overflow: hidden;
  	width: 100%;
	animation: type2 8s steps(60, end);
	text-align: center;
	line-height: 1.2em;
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}
.exp-section{
	height: 70vh;
	@media (max-width: 800px){
		height: 900px
	}

}
.exp-content{
	width: 80vw;
}

.exp-header{
	color: #01FF70;
	font-size: 30px;
	text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}

.box{
	height: 350px;
	background-image: url(https://www.clipartsgram.com/image/1336415471-white-background-pattern-tumblr.jpg);
	background-position: center;
	@media (max-width: 800px){
	height: 250px;
	}
}

@keyframes type{ 
  from { width: 0; } 
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

.section-header{
	margin-left: 26vw;
	@media (max-width: 800px){
	margin: 0;
	}
}
.icon{
	width: 35px;
	height: auto;
}
.links{
	margin: 0 auto;
	text-align: center;
}
.tech-list{
	list-style-type: none;
	width: 100%;
	padding-left: 0;
}
.tech-tool{
	display: inline;
	background: #dedede;
	padding: 2px;
	border-radius: 5px;
	margin: 2px;
}

.bug{
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 90px;
	opacity: 0.8;

}
.unactive{
	opacity: 0.05;
}

.m-auto{
	margin: 0 auto;
}