.ciao{
	width: 120px;
	height: 120px;
	margin: 0 auto;
	border: 5px solid #ededed;
	background-image: url(/assets/images/profilo.png);
	background-size: cover;
	background-position: center;
	border-radius: 90px;
	&:hover{
	border: 5px solid lime;
	opacity: 0.7;
	background-image: url(/assets/images/profilo-logo-hover.png);
	}
}